<input
  type="text"
  [value]="search()"
  (input)="onSearch($event)"
  placeholder="Search countries..."
/>
<div class="sort">
  <button (click)="toggleSort()">
    Sort by Name {{ sortAsc() ? "↑" : "↓" }}
  </button>
</div>
<div *ngIf="loading()">Loading...</div>
<div *ngIf="error()">{{ error() }}</div>

<ul *ngIf="!loading() && !error()">
  <li
    *ngFor="let country of filteredCountries()"
    (click)="goToDetail(country.name.common)"
  >
    {{ country.name.common }} - {{ country.region }}
  </li>
</ul>
